<div class="container">
  <h1>Face Detection App</h1>
  <div class="video-container">
    <video #video id="video" width="640" height="480" autoplay></video>
    <canvas #canvas id="canvas" width="640" height="480"></canvas>
  </div>
  <div class="info-container">
    <div *ngIf="age" class="info-item">
      <span class="label">Age:</span>
      <span class="value">{{age}}</span>
    </div>
    <div *ngIf="mood" class="info-item">
      <span class="label">Mood:</span>
      <span class="value">{{mood}}</span>
    </div>
  </div>
</div>